<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body ng-app="SearchEngineApp">
		
		<div class="main" ng-controller="SearchEngineController">
			<div class="container">

				<form role="form" method="post" class="span12">
					<div class="row col-lg-4 col-lg-offset-4 top-buffer">
						<div class="form-group">
							<div class="input-group">
								<input ng-model="searchTerm" type="text" class="form-control">
								<span class="input-group-btn">
									<button ng-click="getSearchResults(searchTerm)" class="btn btn-default" type="button">Search</button>
								</span>
							</div>
						</div>
							{{ searchResults }}
					</div>
				</form>

			</div>
		</div>

		<script src="js/app.js"></script>
		<script src="js/controllers/searchEngineController.js"></script>
		<script src="js/services/searchEngineService.js"></script>

	</body>
</html>